{% extends 'Blog/plantilla_base.html' %}
{% block plantilla_base %}
  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Sobre Nosotros</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">¿Quienes somos?</div>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="text-muted fst-italic mb-2"><b>Nosotros somos Iara Aguirre y Tamir Caqui Peralta</b></p>
                    <p class="fs-5 mb-4"><b>Tamir Caqui Peralta</b>:</p>
                    <p class="fs-5 mb-4">Estudie en el instituto Saenz e hice un curso de programación en Python en la pagina de CoderHouse, tengo 18 años y mi gmail es tamircaquiperalta@gmail.com</p>
                    
                    <p class="fs-5 mb-4"><b>Iara Aguirre</b></p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                </section>
            </article>
          
        </div>
 {% endblock %}