{% extends 'Blog/plantilla_base.html' %}
{% block plantilla_base %}
  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Sobre Nosotros</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">¿Quienes somos?</div>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://media.discordapp.net/attachments/849476522754048030/1027047966290231398/Sin-titulo-1.png" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="text-muted fst-italic mb-2"><b>Nosotros somos Iara Aguirre y Tamir Caqui Peralta</b></p>
                    <p class="fs-5 mb-4"><b>Iara Aguirre</b></p>
                    <p class="fs-5 mb-4"> Soy una joven estudiante de Ingeniería Industrial de 22 años. Actualmente trabajo y estudio y quise desarrollar algunas de mis competencias, y me parecio una buena oportunidad empezar el curso de Python y aprender más sobre la programación.</p>
                    <p class="fs-5 mb-4"><b>Tamir Caqui Peralta</b>:</p>
                    <p class="fs-5 mb-4">Estudie en el instituto Saenz e hice un curso de programación en Python en la pagina de CoderHouse, tengo 18 años y mi gmail es tamircaquiperalta@gmail.com</p>
                    
                    <h4 class="fw-bolder mb-1">¿Sobre que es esta pagina?</h4>
                    <p class="fs-5 mb-4">Esta es una pagina donde podras crear tus blogs como vos lo desees y a tu estilo, elimiando o editando elementos de tu blog solamente si estas logueado. Sos libre de crearte una cuenta para poder realizar todas estas acciones.</p>
                </section>
            </article>
          
        </div>
 {% endblock %}